.list-group {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#all-memes {
    margin-top: 20px;
    margin-bottom: 20px;
}

#item:hover {
    background-color: #e3e1e1;
}

#item {
    border-top-style: solid;
    padding-top: 20px;
}

#content {
    text-align: left;
    margin-bottom: 0;
}

#title {
    font-weight: bold;
}

#see-meme {
    background-color: black;
    border-color: black;
    box-shadow: black;
}

h2 {
    text-align: center;
}