#comment--mine {
    background: linear-gradient(forestgreen,rgb(40, 184, 24));
    color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

#comment--somebody {
    background: linear-gradient(rgb(217, 216, 215),rgb(242, 241, 240));
    color: black;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

#author {
    font-family: Calibri, serif;
}

#subtitle {
    vertical-align: middle;
}

#link {
    margin-right: 8px;
    margin-left: 5px;
    font-family: Calibri, serif;
}

#link:hover {
    text-decoration: underline;
    cursor: pointer;
}

