#comment {
    background: linear-gradient(forestgreen,rgb(40, 184, 24));
    color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

#author {
    font-family: Calibri, serif;
}

