#navigation {
    display: flex;
    justify-content: center;
}

#paginator {
    display: inline;
    min-width: 200px;
    list-style: none;
    padding-top: 20px;
}
#paginator li {
    display: inline;
    float: left;
}

#page-link:hover {
    cursor: pointer;
}

